:root {
    --primary-color: #5271ff;
    --primary-hover-color: #3f5acc;
    --success-color: #4CAF50;
    --success-hover-color: #357c38;
    --danger-color: #f44336;
    --danger-hover-color: #c1342a;
    --pending-color: #ff9800;
    --pending-hover-color: #b16f0c;
    --played-color: #9c27b0;
    --played-hover-color: #7b1c8d;
}

@font-face {
    font-family: 'MetropolisRegular';
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/metropolis@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/metropolis@latest/latin-400-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/metropolis@latest/latin-400-normal.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'MetropolisBold';
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/metropolis@latest/latin-700-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/metropolis@latest/latin-700-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/metropolis@latest/latin-700-normal.ttf) format('truetype');
  }

body {
    font-family: 'Metropolis', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #111115;
    color: white;
    overflow: scroll;
    transition: all 0.4s ease;
}

body::-webkit-scrollbar {
    display: none;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(180deg, #111115 0%, #111115 87%, #11111500 100%);
    z-index: 999;
}

.logo {
    height: 20px;
    width: auto;
}

header {
    text-align: center;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 46px;
    margin-top: 4px;
}

h1 {
    font-size: 21px;
    cursor: default;
}

h3 {
    cursor: default;
}

p {
    cursor: default;
}

.status-filters {
    margin: 0px 0;

    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: -16px;
}

.filters {
    display: flex;
    gap: 6px;
    justify-content: center;
}

.mod-buttons {
    margin-right: 10px;

    display: flex;
    gap: 6px;
    justify-content: center;
}

.filter-btn {
    padding: 5px;
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #2d3338;
    transition: all 0.3s;
}

.filter-btn svg {
    width: 20px;
    height: 20px;
    color: white;
}

/* Default states - using hover colors */
.filter-btn[data-status="pending"] {
    background-color: var(--pending-hover-color);
}

.filter-btn[data-status="approved"] {
    background-color: var(--success-hover-color);
}

.filter-btn[data-status="denied"] {
    background-color: var(--danger-hover-color);
}

/* Hover states - transition to normal colors */
.filter-btn[data-status="pending"]:hover {
    background-color: var(--pending-color);
}

.filter-btn[data-status="approved"]:hover {
    background-color: var(--success-color);
}

.filter-btn[data-status="denied"]:hover {
    background-color: var(--danger-color);
}

/* Active states */
.filter-btn.active[data-status="pending"] {
    border: 2px solid white;
    background-color: var(--pending-color);
}

.filter-btn.active[data-status="approved"] {
    border: 2px solid white;
    background-color: var(--success-color);
}

.filter-btn.active[data-status="denied"] {    
    border: 2px solid white;
    background-color: var(--danger-color);
}

.filter-btn[data-status="all"] {
    background-color: var(--primary-hover-color);
    width: 60px;
    height: 30px;
    padding: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-btn[data-status="all"]:hover {
    background-color: var(--primary-color);
}

.filter-btn.active[data-status="all"] {
    border: 2px solid white;
    background-color: var(--primary-color);
}

.requests-grid {
    display: grid;
    gap: 20px;
    padding-top: 80px;
    grid-template-columns: repeat(auto-fill, 360px);
    justify-content: center;
}

@keyframes playingPulse {
    0% {
        background: #192027;
    }
    50% {
        background: #9b27b02f;
    }
    100% {
        background: #192027;
    }
}

.request-card {
    background: #192027;
    border-radius: 24px;
    padding: 10px;
    max-height: 126px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 17px;
    border: #23272a 1px solid;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;
}

.request-card.now-playing {
    box-shadow: inset 0px 0px 0px 4px #9b27b0;
    /*animation: playingPulse 2s ease-in-out infinite;*/
}

.album-art {
    width: 126px;
    height: 126px;
    border-radius: 14px;
    object-fit: cover;
}

.album-link {
    display: block;
    cursor: pointer;
    transition: opacity 0.2s ease;
    height: 126px;
}

.album-link:hover {
    opacity: 0.8;
}

.request-info {
    flex: 1;
    border: #23272a 1px solid;
    border-radius: 14px;
    padding: 7px;
    margin-left: -6px;
    padding-bottom: 0px;
    max-height: 126px;
}

.song-title {
    margin: 0;
    font-size: 1.1em;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    margin-top: -3px;
    margin-bottom: -3px;
}

.artist {
    margin: 0px 0;
    color: #ffffff;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}

.requester {
    margin: 0px 0;
    color: #cfcfcf;
    font-size: 0.8em;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.status {
    display: inline-block;
    border-radius: 7px;
    font-size: 1em;
    text-transform: uppercase;
    width: 185px;
    height: 26px;
    text-align: center;
    font-family: MetropolisBold;
    cursor: default;
}

.status.pending {
    background: var(--pending-color);
    color: white;
    height: auto;
    height: 22px;
    line-height: 22px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: default;
}

.status.approved {
    margin-top: 5px;
    background: var(--success-color);
    color: white;
    transition: background-color 0.2s ease;
    width: 145px;
    cursor: default;
    height: 37px;
    line-height: 37px;
}

.status.denied {
    margin-top: 5px;
    background: var(--danger-color);
    color: white;
    cursor: default;
    height: 37px;
    line-height: 37px;
}

.status.played {
    margin-top: 5px;
    background: var(--played-color);
    color: white;
    width: 145px;
    cursor: default;
    height: 37px;
    line-height: 37px;
}

.status.approved:hover {
    background-color: var(--success-hover-color);
    cursor: pointer;
}

.status.played:hover {
    background-color: var(--played-hover-color);
    cursor: pointer;
}

.actions {
    margin-top: 7px;
    display: flex;
}

.btn {
    padding: 6px 12px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
    font-family: MetropolisBold;
}

.approve-btn {
    background-color: var(--success-color);
    color: white;
    width: 89px;
    margin-right: 7px;
}

.deny-btn {
    background-color: var(--danger-color);
    color: white;
    width: 89px;
}

.approve-btn:hover { 
    background-color: var(--success-hover-color);
}

.deny-btn:hover { 
    background-color: var(--danger-hover-color);
}

#auth-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #15191c;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.login-form {
    padding: 2rem;
    border: #23272a 1px solid;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background: #1d2328;
    width: 300px;
}

.login-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.login-logo {
    height: 24px;
    width: auto;
}

.login-form h2 {
    text-align: center;
    margin: 0;
    color: white;
}

.login-form div {
    margin-bottom: 15px;
}

.login-form label {
    display: inline-block;
    width: 100px;
    color: white;
}

.login-form input {
    width: 284px;
    padding: 8px;
    border: 1px solid #23272a;
    border-radius: 8px;
    background: #15191c;
    color: white;
    margin-top: 5px;
}

.login-form input:focus {
    outline: none;
    border-color: var(--primary-color);
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
}

.login-form button:hover {
    background-color: #3f5acc;
}

.status-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.action-by {
    font-size: 11px;
    color: #000000;
    opacity: 0.8;
    padding: 3px 0px;
    text-align: center;
    background-color: #cfcfcf;
    border-radius: 7px;
    cursor: default;
}

.requester-link {
    color: inherit;
    text-decoration: none;
}

.requester-link:hover {
    text-decoration: underline;
}

.purge-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 8px 16px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: MetropolisBold;
    transition: background-color 0.3s;
}

.purge-btn:hover {
    background-color: #c82333;
}

.status-wrapper {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-top: 2px;
}

.requeue-btn {
    margin-top: 5px;
    background: #2d3338;
    border: none;
    border-radius: 7px;
    width: 37px;
    height: 37px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.requeue-btn:hover {
    background: #3d444a;
}

.requeue-btn svg {
    color: white;
}

.force-skip-btn {
    background: var(--danger-color);
    border: none;
    border-radius: 4px;
    width: 76px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    color: white;
}

.force-skip-btn:hover {
    background: var(--danger-hover-color);
}


.force-skip-btn svg {
    margin-right: 4px;
    width: 20px;
    height: 20px;
}

.quick-add-btn {
    border: none;
    background-color: #4361ee;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 30px;   
    padding: 0;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 16px;
}

.quick-add-btn svg {
    margin-right: 4px;
    width: 20px;
    height: 20px;
}

.quick-add-btn:hover {
    background-color: var(--primary-hover-color);
}


.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #1d2328;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #23272a;
    border-radius: 24px;
    width: 80%;
    max-width: 500px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: white;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: white;
}

.form-group input {
    width: 484px;
    padding: 8px;
    border: 1px solid #23272a;
    border-radius: 4px;
    background-color: #2d3338;
    color: white;
}

.submit-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-family: MetropolisBold;
}

.submit-btn:hover {
    background-color: #4361ee;
}

h2 {
    margin: 0px;
}

.requeue-btn.success {
    background: var(--success-color);
}

.requeue-btn.success:hover {
    background: var(--success-hover-color);
}

.requeue-btn {
    transition: all 0.3s ease;
}

.requeue-btn.requeued {
    background: var(--success-color);
    cursor: not-allowed;
}


.requeue-btn.requeued:hover {
    background: #3d444a;
}

.requeue-btn[disabled] {
    pointer-events: none;
}

.queue-size {
    font-family: 'MetropolisBold';
    color: var(--success-color);
    margin-left: 12px;
    font-size: 16px;
    cursor: default;
}

/* Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 15px;
}

.pagination-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    font-family: 'MetropolisRegular', sans-serif;
    transition: background-color 0.2s;
}

.pagination-btn:hover:not([disabled]) {
    background-color: var(--primary-hover-color);
}

.pagination-btn[disabled] {
    background-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.7;
}

.page-info {
    font-family: 'MetropolisRegular', sans-serif;
    color: #fff;
    font-size: 14px;
}

/* Lazy Loading Styles */
.lazy-image {
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #2d3338;
}

.lazy-image[src^="data:image"] {
    opacity: 0.5;
}

.album-art:not(.lazy-image) {
    opacity: 1;
}